---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/TradedCard.idPass
    body:
      encoding: UTF-8
      string: OrderID=null&MemberID=null&SeqMode=0&DefaultFlag=0&ShopID=<SHOP_ID>&ShopPass=<SHOP_PASS>&SiteID=<SITE_ID>&SitePass=<SITE_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: US-ASCII
      string: ErrCode=E01&ErrInfo=E01110002
  recorded_at: Sun, 17 Feb 2013 13:34:26 GMT
recorded_with: VCR 2.4.0
